/* html */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global variables */
:root {
  /* color definitions */
  --color-white: white;
  --color-black: black;
  /* basic */
  /* gradients */

  /* text fonts */
  --yellow-pink-font: "Honk", system-ui;
  --hand-written-font: "Caveat", cursive;

  /* font styles */
  /* font sizes */
  --font-weight-4: 400;
  --font-weight-7: 700;

  /* line-height */

  /* spacing */

  /* border radius */

  /* wrappers */
}

/* body*/
body {
  color: var(--color-white);
  background-color: var(--color-black);
}
/* header styles */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url(../assets/images/tipi-ceremony.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* font-size: var(--font-size-normal); */
}

/* section 1 styling */

/* section 2 styling */

/* section 3 styling */

/* section 4 */

/* form */
/* contact form */
.form-info {
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--hand-written-font);
}
.contact-form input,
.contact-form textarea {
  width: 70%;
  max-width: 500px;
}

.desktop-gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.row-dt-2 {
  display: flex;
  flex-direction: row;
}

.desktop-gal img {
  width: calc(33% - 10px);
  margin: 5px;
}

/* footer styles */

/* media queries */
/* Tablet and Smaller */
@media screen and (max-width: 1080px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
}
@media (max-width: 500px) {
  .header {
    text-align: center;
  }
}
