/* html */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global variables */
:root {
  /* color definitions */
  --color-white: white;
  --color-black: black;
  --color-pink: #ff3258;
  /* basic */
  /* gradients */

  /* text fonts */
  --yellow-pink-font: "Honk", system-ui;
  --hand-written-font: "Caveat", cursive;

  /* font styles */
  /* font sizes */
  --font-weight-4: 400;
  --font-weight-7: 700;

  /* line-height */

  /* spacing */

  /* border radius */

  /* wrappers */
  --wrapper-max-width: 1440px;
  --wrapper-width: 90%;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
}

/* body*/
body {
  color: var(--color-white);
  background-color: var(--color-black);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 0;
}

li {
  list-style: none;
}
/* sr only custom class  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header styles */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url(../assets/images/hero-tipi.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* position: relative; */
  /* font-size: var(--font-size-normal); */
}

/* needs adjusting to sweet spot */

/* nav styles */
nav a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  /* font family */
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  gap: 40px;
}

/* possibly get rid of all the position absolutes and relatives and use flex boxes instead try that! */
.title-container {
  position: absolute;
  top: 50%;
  /* right: 25%; */
  left: 51%;
  transform: translate(-50%, -50%);
}

/* header h1 */
h1 span {
  display: block;
}

/* hero btn styles */
.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 3px solid var(--color-pink);
  font-weight: 400;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
  right: 0;
  background: var(--color-pink);
}

.btn--pink {
  background: var(--color-pink);
  transition: all 0.2s;
}

.btn--pink::after {
  display: none;
}

.btn--pink:hover,
.btn--pink:focus {
  background: transparent;
}
/* hero btn styles end */

/* section code */
section {
  padding: 12rem 0;
  border-bottom: 2px solid rgb(36, 35, 35);
}
/* section 1 styling */

/* section 2 styling */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  border: 2px solid var(--color-pink);
  width: 20%;
}

.cardimg {
  width: 100%;
}

.cardimg img {
  width: 100%;
}

.port-text {
  padding: 15px;
}

.port-text h3 {
  text-align: center;
}

/* section 3 styling */

/* section 4 */

/* form */
.form-text {
  display: flex;
}
.textbox-form {
  width: 60%;
  padding-top: 50px;
}
.form-box {
  width: 100%;
}
/* contact form */
.form-info {
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--hand-written-font);
}
.contact-form input,
.contact-form textarea {
  width: 70%;
  max-width: 500px;
}

/* .desktop-gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.row-dt-2 {
  display: flex;
  flex-direction: row;
}

.desktop-gal img {
  width: calc(33% - 10px);
  margin: 5px;
} */

/* footer styles */

/* media queries */
/* Tablet and Smaller */
@media screen and (max-width: 1080px) {
}
/* Media */
@media screen and (max-width: 925px) {
  .header {
    background-size: contain;
    background-position: top;
  }
}
/* Mobile */
@media screen and (max-width: 768px) {
}
@media (max-width: 500px) {
  .header {
    text-align: center;
  }
}
