/* html */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global variables */
:root {
  /* color definitions */
  /* basic */
  /* gradients */

  /* text fonts */
  /* font styles */
  /* font sizes */

  /* line-height */

  /* spacing */

  /* border radius */

  /* wrappers */
}

/* body*/

/* header styles */

/* section 1 styling */

/* section 2 styling */

/* section 3 styling */

/* section 4 styling GALLERY*/
/* gallery imgs for dt */

.desktop-gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.row-dt-2 {
  display: flex;
  flex-direction: row;
}

.desktop-gal img {
  width: calc(33% - 10px);
  margin: 5px;
}

/* footer styles */

/* media queries */
/* Tablet and Smaller */
@media screen and (max-width: 1080px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
}
